p {
    display: block;
    margin-right: 40%;
    margin-left: 40%;
    width: 70%;
}

body {
    
    background-color: rgb(133, 192, 248);
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    text-align: center;
    
}        

h1 {
    
    text-align: center;
    margin: auto;
    margin-top: 10%;
    margin-left: 33%;
    margin-right: 33%;
    background-image: url("https://i.gyazo.com/977c0d6e356ff26b980febf1697ee1ba.png");
    border: 1%;
    font-size: 70;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#forms {

    text-align: center;
    margin: auto;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 2%;
    border: 10%;
    border-color: aqua;
    background-color: rgb(184, 207, 221);

}

#gifs {

    background-color: azure;
    text-align: center;

}

#gifBig {

    display: block;
    background-color: azure;
    margin-left: 70%;
    text-align: center;
    width: 100%;

}
