{% extends 'new_base.html' %}

{% block content %}

<p>
    <div class='m-3'>
        <h3>
            Users by team rating:
        </h3>
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            
        
        <ol class="list-group">
            <li class="list-group-item">1. Stanley: 7398 commendations</li>
            <li class="list-group-item">2. Agatha: 5681 commendations</li>
            <li class="list-group-item">3. Mark: 3491 commendations</li>
            <li class="list-group-item">4. Leslie: 1340 commendations</li>
            <li class="list-group-item">5. Dirk: 3 commendations</li>

        </ol>
        </div>
    </div>
</p>






{% endblock %}