{% extends 'new_base.html' %}

{% block content %}

<p>
        <h3 class="ml-4">
                Users by team rating:
            </h3>
    <div class='row m-3'>
        
        <div class="col-lg-4">
                <ol class="list-group">
                        <li class="list-group-item">#1 overall: Leslie</li>
                        <li class="list-group-item">#2 overall: Agatha</li>
                        <li class="list-group-item">#3 overall: Jim</li>
                        <li class="list-group-item">#4 overall: Thom</li>
                        <li class="list-group-item">#5 overall: Dirk</li>
            
                    </ol>
        </div>
        <div class="col-lg-4">
            
        
        <ol class="list-group">
            <li class="list-group-item">1. Stanley: 7398 commendations</li>
            <li class="list-group-item">2. Agatha: 5681 commendations</li>
            <li class="list-group-item">3. Mark: 3491 commendations</li>
            <li class="list-group-item">4. Leslie: 1340 commendations</li>
            <li class="list-group-item">5. Dirk: 3 commendations</li>

        </ol>
        </div>

        <div class="col-lg-4">
        
            <ol class="list-group">
                <li class="list-group-item">1. Jenice: 233 stars</li>
                <li class="list-group-item">2. Agatha: 181 stars</li>
                <li class="list-group-item">3. Mark: 97 stars</li>
                <li class="list-group-item">4. Dylan: 40 stars</li>
                <li class="list-group-item">5. Dirk: 1 stars</li>
    
            </ol>
            </div>
    </div>
</p>






{% endblock %}