{% extends 'new_base.html' %}

{% block content %}

<p>
    <div class="ml-4">
        <h2>Popular Topics:</h2>
        <div class="row my-3 ml-3 mr-3">
            <div class="col-lg-3 card text-center">
                Machine Learning <br/>
                <img src="/static/machine_learning.jpg" class="img-fluid mt-2" alt="crazy digital brain thing">
            </div>

            <div class="col-lg-3 card text-center">
                Basket Weaving <br/>
                <img src="/static/basket-weaving.jpg" class="img-fluid mt-2" alt="basket weaving">
            </div>

            <div class="col-lg-3 card text-center">
                Python <br/>
                <img src="/static/rp1.jpg" class="img-fluid mt-2" alt="a snake">
            </div>

            <div class="col-lg-3 card text-center">
                Krav Maga...? <br/>
                <img src="/static/krav_maga.jpg" class="img-fluid mt-2" alt="two guys fighting">
            </div>
        </div>
    </div>
</p>

<p>
    <div class="ml-4">
        <h2>New Topics:</h2>
        <div class="row my-3 ml-3 mr-3">
            <div class="col-lg-3 card text-center">
                XR Development <br/>
                <img src="/static/xr.jpg" class="img-fluid mt-2" alt="guy with a hololens">
            </div>

            <div class="col-lg-3 card text-center">
                Materials Science <br/>
                <img src="/static/mats.jpg" class="img-fluid mt-2" alt="laser blasting sparks">
            </div>

            <div class="col-lg-3 card text-center">
                Cobol <br/>
                <img src="/static/cobol.jpg" class="img-fluid mt-2" alt="picture of the word cobol">
            </div>

            <div class="col-lg-3 card text-center">
                Italian (Language) <br/>
                <img src="/static/italian.jpg" class="img-fluid mt-2" alt="italian flag">
            </div>
        </div>
    </div>
</p>






{% endblock %}